.container{
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Jost', sans-serif;
    color: white;
    padding: 5vh 10vh 15vh 10vh;
}

.content{
    margin-top: 30px;
}

#logo{
    height: 5vh;
}

h3{
    font-size: 2em;
    margin-bottom: 15px;
}

h4{
    font-size: 1em;
    font-weight: bold;
    color: rgb(180, 0, 180);
}

p, ul{
    font-size: 0.5em;
}

p{
    margin: 5px 0;
}

ul{
    margin: 20px 0;
    list-style-type: disc;
    list-style-position: inside;
}

span{
    font-weight: bold;
}

.content-f span{
    font-size: 0.4em;
}

.content-f button{
    border-radius: 0;
    padding: 5px 15px;
    font-size: 0.6em;
    font-weight: bold;
    background-color: #00FFFF;
    border: 0;
    color: #0b133d;
    box-shadow:#00ffff 0px 22px 70px 4px;
}